* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0px 144px 76px;
    cursor: pointer;
    margin-top: 20px;
}

.header-link {
    color: #989D9C;
    font-size: 24px;
    font-weight: 600;
    margin-right: 23PX;

}



button {
    background: #665AE1;
    color: #FFF;
    width: 130px;
    height: 41px;
    border-radius: 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.4;
}

section {
    position: absolute;
    left: 50%;
    top: 20%;
    margin: 20px;
    align-items: flex-start;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    color: #515151;
    line-height: 122px;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
}

p {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    width: 515px;
    margin-top: 10px;
    text-align: justify;

}

img {
    width: 568px;
    height: 450px;
    position: absolute;
    left: 8%;
    top: 20%;


}


.button-explore {
    border-radius: 30px;
    background: #ADFF00;
    width: 239px;
    height: 64px;
    border: none;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    filter: drop-shadow(0px 4px 4px #000);
    margin-top: 30px;
}

.button-explore:hover {
    opacity: 0.7;
}

.button-explore:active {
    opacity: 0.5;
}

@media (max-width: 1300px) {
    header {
        display: none;
    }

    p {
        display: none;
    }


    img {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 12%;
        left: 15%;
    }


    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
        margin-top: -25px;
    }

    .button-explore {
        width: 209px;
        height: 54px;
        margin: 10px;
    }

    section {
        position: absolute;
        left: 15%;
        top: 40%;
    }

}